html,
body
  height: 100%


img
  max-width: none /*to fix GMaps controls display issue*/

.plm-map
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%

.plm-search-parent
  margin-top: 3.5em
